<div class="row">
  <button [routerLink]="['event/' + 0]" class="btn btn-primary mx-auto my-4">
    <i class="fa fa-edit"></i>
    Új esemény létrehozása
  </button>
</div>

<div>
  <h3>Összes esemény</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Esemény</th>
        <th>Dátum</th>
        <th>Idő</th>
        <th>Cím</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList$ | async">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>
        <td>{{event.time}}</td>
        <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
        <td>
          <div class="btn-group">
            <button [routerLink]="['event/' + event.id]" class="btn btn-info">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onDelete(event)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
